<h2>{{title}}</h2>

<div class="content">


<!--
<md-input-container>
  <input mdInput placeholder="Name">
</md-input-container>
-->

<!--
  <md-card elevation="5">

    <md-card-subtitle>
      <h2>New hero</h2>
    </md-card-subtitle>

    <md-card-content>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="creteHeroButton()" #registerForm="ngForm">
        <input mdInput formControlName="name" required placeholder="Name">
        <button type="submit" [disabled]="!registerForm.form.valid" md-raised-button color="primary">New</button>
      </form>

      <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>

    </md-card-content>

  </md-card>

  <br>
-->



  <h2>Hero List</h2>

<!--
  <div *ngIf="selectedHero" class="expand">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button md-raised-button (click)="goToDetail()">View Details</button>
  </div>

  <div class="repeat repeat-fade-in" *ngFor="let hero of heroes">
    <quick-card
            class="repeat-fade-in"
            (click)="onSelect(hero)"
            [selected]="hero === selectedHero"
            [name]="hero.name"
            [img]="'https://randomuser.me/api/portraits/med/men/96.jpg'">
    </quick-card>
  </div>


    <md-line (click)="goToDetail()">
-->




<md-nav-list>
  <md-list-item *ngFor="let hero of heroes" (click)="goToDetail(hero)">
      {{ hero.id }} {{ hero.name }}
  </md-list-item>
</md-nav-list>

</div>